
@page "/personas"
@inject PersonasBLL personaBLL;

<EditForm Model="listas">
    <DataAnnotationsValidator />

     <div class="card">
        <div class="container">
            <div class="mb-3">
                <input type="text" class="form-control" @bind="Criterio" placeholder="Introduzca un Nombre">
                <div class="input-group-append col">
                    <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass" /> Buscar
                    </button>
                </div>
            </div>

            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th>PersonaId</th>
                        <th>Nombres</th>
                        <th>Fecha Nacimiento</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Balance</th>
                        <th>OcupacionId</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var personas in listas)
                {
                        <tr>
                            <td>@personas.PersonaId</td>
                            <td>@personas.Nombres</td>
                            <td>@personas.FechaNacimiento</td>
                            <td>@personas.Email</td>
                            <td>@personas.Telefono</td>
                            <td>@personas.Balance</td>
                            <td>@personas.OcupacionId</td>
                            <td><a href="persona/@personas.PersonaId">Ver</a></td>
                        </tr>
                }

                </tbody>

            </table>
        </div>

    </div>
</EditForm>

@code
{
    public string Criterio { get; set; } = "";

    public List<Personas> listas { get; set; } = new List<Personas>();
    public void Buscar()
    {
        listas = personaBLL.BuscarP(Criterio);
    }

}