
@page "/personas"
@inject PersonasBLL personaBLL;

<EditForm Model="listas">
    <DataAnnotationsValidator />

    <div  class="row">
        <select class="form-control" @bind="Filtro">
            <option value="1">PersonaId</option>
            <option value="2">Nombres</option>
        </select>
    </div>

    <label class="form-control">Criterio</label>
    <input type="text" class="form-control" @bind="Criterio">

    <div>
        <button type="button" @onclick="Buscar">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
         <i>Buscar</i>
        </button>
    </div>

    <table class="table table-striped table-hover">

        <thead>
            <tr>
                <th>PersonaId</th>
                <th>Nombres</th>
                <th>Fecha Nacimiento</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Balance</th>
                <th>OcupacionId</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var personas in listas)
            {
                <tr>
                    <td>@personas.PersonaId</td>
                    <td>@personas.Nombres</td>
                    <td>@personas.FechaNacimiento</td>
                    <td>@personas.Email</td>
                    <td>@personas.Telefono</td>
                    <td>@personas.Balance</td>
                    <td>@personas.OcupacionId</td>
                    <td><a href="personas/@personas.PersonaId">Ver</a></td>
                </tr>
            }

        </tbody>

    </table>
</EditForm>

@code
{
    public string Filtro { get; set; } = "";
    public string Criterio { get; set; } = "";

    public List<Personas> listas { get; set; } = new List<Personas>();
    public void Buscar()
    {
        listas = personaBLL.GetList(o => true);
    }

}